.inner-content{
  overflow: auto !important;
  justify-content: unset !important;
  gap: 1rem;
  scrollbar-width: none;
}

.inner-content::-webkit-scrollbar{
  width: 0;
}

mat-cell:nth-child(3) {
  color: whitesmoke !important;
}

mat-table{
  width: 75% !important;
}