<div class="page">
  <button id="prev" (click)="prev()">
    <mat-icon>keyboard_double_arrow_left</mat-icon>
  </button>
  <div id="container">
    @switch (segment) { @case (1) {
    <app-nemzet></app-nemzet>
    } @case (2) {
    <app-tulajdonsagok></app-tulajdonsagok>
    } @case (3) {
    <app-utak></app-utak>
    }@case (4) {<app-karakter-felszereles></app-karakter-felszereles>} @case (5)
    {
    <div class="inner-content">
      <h1>Meg is volnánk</h1>
      <h2>Ezek után már nincsen más hátra, csak találni játékos társakat</h2>
      <button id="reset" (click)="reset()">
        <mat-icon>history</mat-icon>Elölről
      </button>
    </div>
    } @default {
    <div class="inner-content">
      <h1>Karakter készítés a szerepjátékban</h1>
      <div id="text">
        <p>
          A karakterkészítés a szerepjáték egyik legfontosabb része, amely során
          megalkothatod a saját egyedi hősödet. A játék során az ő bőrébe bújva
          fogsz kalandokban részt venni másik játékosokkal együtt. (Vagy nem, ha
          merész vagy)
        </p>
        <p>
          A karakteredet meghatározza a népe, azaz a származása, a tulajdonságai
          (erő, ész, stb.), mentális kapacitása és életereje, a tulajdonságokhoz
          szorosan kapcsolódó "út" és annak szintje (milyen mélységben műveli
          azt)
        </p>
        <p>
          Minden karakter rendelkezik felszereléssel, melyeket fegyverek,
          páncélok és különböző tárgyak tesznek ki.
        </p>
      </div>
      <div id="pics">
        <img src="./img/assets/sheet.jpg" alt="Karakterlap" />
      </div>
    </div>
    } }
  </div>
  <button id="next" (click)="next()">
    <mat-icon>keyboard_double_arrow_right</mat-icon>
  </button>
  <div id="mobileBtnContainer">
    <button id="prevM" (click)="prev()">
      <mat-icon>keyboard_double_arrow_left</mat-icon>
    </button>

    <button id="nextM" (click)="next()">
      <mat-icon>keyboard_double_arrow_right</mat-icon>
    </button>
  </div>
</div>
