<div class="inner-content">
  <h2>Tulajdonságok</h2>
  <p>
    Minden karakternek 6 fő tulajdonsága van amik leírják a fizikai és mentális
    határait a kalandjaik kezdetén.
  </p>
  <p>
    <span class="tul-nev">Erő:</span> a fizikai erőkifejtés: cipelés, harc,
    fizikai munka
  </p>
  <p>
    <span class="tul-nev">Ügyesség:</span> a mozgékonyság és kézügyesség:
    zárfeltörés, kikerülés, akrobatika
  </p>
  <p>
    <span class="tul-nev">Kitartás:</span> a test teherbírása az összeomlásig:
    ellenállás, túlélés, egészség
  </p>
  <p>
    <span class="tul-nev">Ész:</span> a lexikális tudás és annak használata:
    tanulás, felismerés, tárgykészítés
  </p>
  <p>
    <span class="tul-nev">Fortély:</span> a meggyőző erő és kisugárzás: átverés,
    emberismeret, buzdítás
  </p>
  <p>
    <span class="tul-nev">Akaraterő:</span> a jellem megtörhetetlensége: átkok,
    átverés és más mentális ellenállások
  </p>
  <p>
    A tulajdonságok meghatározásához dobj 2d10-el 8 alkalommal és írd fel az
    eredményeket. Ezekből válaszd ki a 6 legnagyobbat és a táblázat segítségével
    írd be a módosítókat a tulajdonságok mögé.
  </p>
  <table>
    <tr>
      <td class="header">Dobás</td>
      <td>1-4</td>
      <td>5-6</td>
      <td>7-8</td>
      <td>9-12</td>
      <td>13-14</td>
      <td>15-16</td>
      <td>17-</td>
    </tr>
    <tr>
      <td class="header">Érték</td>
      <td>-3</td>
      <td>-2</td>
      <td>-1</td>
      <td>0</td>
      <td>+1</td>
      <td>+2</td>
      <td>+3</td>
    </tr>
  </table>
  <p>
    Ezután vagy adj 2 pontot valamely tulajdonsághoz vagy 1-1 pontot két
    különböző tulajdonságba. Ezek után meghatározod a karaktered egészségét és
    elméjét.
  </p>
  <p>
    <span class="tul-nev">Életerő:</span> Meghatározása: 5 + Nép mód. + Kitartás
    mód
  </p>
  <p>
    <span class="tul-nev">Elme:</span> Meghatározása: 5 + Nép mód. + Akaraterő
    mód
  </p>
</div>
