<div id="navbar">
  <!-- <div id="logo" routerLink="/home">
    <img
      [src]="logoIMGPath"
      alt="To index"
      id="logo-img"
      [ngStyle]="{
        width: '4rem',
        height: '4rem',
        cursor: 'pointer'
      }"
    />
  </div> -->
  <div
    id="world"
    class="navbar-link"
    [ngStyle]="{ width: 'calc(120px - 2rem)' }"
  >
    A világ
    <div id="info-container" [ngStyle]="{ width: '120px' }">
      <div class="navbar-link" routerLink="/eredet">Eredet</div>
      <div class="navbar-link" routerLink="/tajak">Tájak</div>
      <div class="navbar-link" routerLink="/fajok">Fajok</div>
    </div>
  </div>
  <div
    id="world"
    class="navbar-link"
    [ngStyle]="{ width: 'calc(120px - 2rem)' }"
  >
    Rendszer
    <div id="info-container">
      <div class="navbar-link" routerLink="/karakter">Karakter</div>
      <div class="navbar-link" routerLink="/tajak">Felszerelés</div>
      <div class="navbar-link" routerLink="/fajok">Tárgyak</div>
    </div>
  </div>
</div>
