<!-- <app-navbar></app-navbar>
<router-outlet/> -->

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-mobile-navbar [sidenav]="sidenav"></app-mobile-navbar>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <div id="logo" routerLink="/home">
        <img
          [src]="logoIMGPath"
          alt="To index"
          id="logo-img"
          [ngStyle]="{
            width: '4rem',
            height: '4rem',
            cursor: 'pointer'
          }"
        />
      </div>
      <p id="author">Ágas és Bogas</p>
      <app-navbar></app-navbar>
      <button
        mat-button
        class="menu-toggle-button"
        (click)="onToggleSidenav(sidenav)"
      >
        <mat-icon
          [ngStyle]="{ height: '2rem', width: '2rem', 'font-size': 'xx-large' }"
          >menu</mat-icon
        >
      </button>
    </mat-toolbar>
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
